<h2>By Region</h2>
<hr>

<div class='row'>
  <div class='col text-center'>
    <button
      *ngFor='let region of regionsAvailable'
      class='btn mx-2'
      (click)='onValueSearchByRegion(region)'
      [ngClass]='region === regionSelected ? "btn-outline-primary": ""'
    >{{region}}</button>
  </div>
</div>

<div class='row mt-4'>
  <div class='col'>
    <div *ngIf='regions.length ===0; else table' class='alert alert-warning text-center'>
      There is not data for the region searched.
    </div>
    <ng-template #table>
      <country-table [countries]='regions'></country-table>
    </ng-template>
  </div>
</div>
